<!-- <section class="news-h categories w-100">
    <div class=" carts-grid mt-2 ">
      <div class="subtitle">
        <h2>
            <div class="d-flex justify-content-between">
              <span class="fs-1 ps-4 pb-3">Dünya</span>
            </div>
        </h2>
      </div>
      <ul class="pt-2" role="list">
        <li>
          <div class="list">
            <div>
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
            </div>
            <div>
              <h5>
                <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                  eleştiriler için ne diyor?</a>
              </h5>
              <span class=" mb-4 text-secondary">yayınlanan tarih</span>
            </div>
          </div>
        </li>
        <li>
          <div class="list">
            <div>
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                alt="">
            </div>
            <div>
              <h5>
                <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
              </h5>
              <span class=" mb-4 text-secondary">8 ekim</span>
            </div>
          </div>
        </li>
  
        <li>
          <div class="list">
            <div>
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                alt="">
            </div>
            <div>
              <h5>
                <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                  eleştiriler için ne diyor?</a>
              </h5>
              <span class=" mb-4 text-secondary">yayınlanan tarih</span>
            </div>
          </div>
        </li>
        <li>
          <div class="list">
            <div>
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                alt="">
            </div>
            <div>
              <h5>
                <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                  eleştiriler için ne diyor?</a>
              </h5>
              <span class=" mb-4 text-secondary">yayınlanan tarih</span>
            </div>
          </div>
        </li>

        <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                </h5>
                <span class=" mb-4 text-secondary">8 ekim</span>
              </div>
            </div>
          </li>
    
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>

          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                </h5>
                <span class=" mb-4 text-secondary">8 ekim</span>
              </div>
            </div>
          </li>
    
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>

          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                </h5>
                <span class=" mb-4 text-secondary">8 ekim</span>
              </div>
            </div>
          </li>
    
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class=" mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
          <li>
            <div class="list">
              <div>
                <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                  alt="">
              </div>
              <div>
                <h5>
                  <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                    eleştiriler için ne diyor?</a>
                </h5>
                <span class="mb-4 text-secondary">yayınlanan tarih</span>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </section> -->