@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: inherit;
    font-family: 'News Cycle', sans-serif;
}
section{
    max-width: 1008px;
    margin: 1.5rem auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
li{
    list-style: none;
}
h5{
    padding-top: .7rem;
    font-size: 1.14rem;
    margin-bottom: 0;
}
li{
    grid-template-columns: repeat(2, 1fr);
    grid-column-end: span 2;
    padding-right: .1rem;
}
 ul{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-end: span 8;
    gap: 1rem;
}

img{
    width: -webkit-fill-available;
}
img:hover{
    opacity: .7;
}
.list{
    margin-bottom: 5rem;
}