<div>
    <!-- the part that appears when the page is first opened -->
    <ng-container *ngIf="this.route.url === '/' else otherNews;">
    <div class="main-wrapper">
        <main class="d-block pb-2">
          <div class="news-wrapper">
            <!-- type 1 -->
            <section class="news-h version-1 w-100 pb-4" >
              <div class=" carts-grid mt-3 ">
                <ul role="list">
                  <li *ngFor="let article1 of homeArticles| slice:0:1;">
                    <div class="cart">
                      <div class="cart-image">
                        <img src="{{article1.urlToImage}}" style="max-width: 500px; max-height: 400px;" alt="500x400 image">
                      </div>
                      <div class="cart-detail">
                        <h3>
                          <a href="{{article1.url}}" >{{article1.title}}</a>
                        </h3>
                        <p>{{article1.description}}</p>
                        <div class="date text-secondary">{{article1.publishedAt | date: 'MMM d, y'}}</div>
                      </div>
                    </div>
                  </li>
    
                  <li  *ngFor="let article1 of homeArticles | slice:1:5;">
                    <div class="o-cart">
                      <div class="o-cart-image">
                        <img src="{{article1.urlToImage}}" alt="">
                      </div>
                      <div class="o-cart-detail">
                        <h5>
                          <a href="{{article1.url}}">{{article1.title}}</a>
                          <div class="date mt-2 text-secondary">{{article1.publishedAt | date: 'MMM d, y'}}</div>
                        </h5>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              </section>
    
               <!-- type 2 -->
               
              <section class="news-h version-2 w-100 mt-5">
                <div class=" carts-grid mt-2 ">
                  <div class="subtitle pb-3">
                    <h2>
                      <a href="#">
                        <div class="d-flex justify-content-between">
                          <span class="fs-2 ps-4">News</span>
                          <span class="fs-6 pt-2">Other News</span>
                        </div>
                      </a>
                    </h2>
                  </div>
                  <ul class="pt-2" role="list">
                    <li *ngFor="let article2 of homeArticles | slice:5:13;">
                      <div class="list">
                        <div class="list-img">
                          <img [src]="article2.urlToImage!=null ? article2.urlToImage : 'assets/img/defaultImg.jpg'"
                            alt="">
                        </div>
                        <div class="list-title">
                          <h5>
                            <a href="{{article2.url}}">{{article2.title}}</a>
                            <div class="date mt-2 text-secondary">{{article2.publishedAt | date: 'MMM d, y'}}</div>
                          </h5>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>

              <!-- type 3 -->
             <section class="news-h version-3 w-100">
                <div class="m-3" *ngFor="let article3 of homeArticles | slice:14:20;">
                  <div class="subtitle pb-3">
                    <h2>
                      <a href="{{article3.url}}">
                        <div class="d-flex justify-content-between mb-2 mt-5 pt-5">
                          <span class="fs-2 ps-3">{{article3.source.name}}</span>
                          <span class="fs-6 pt-2">other news</span>
                        </div>
                      </a>
                    </h2>
                  </div>
    
                    <div>
                      <div class="one-cart">
                        <div class="image">
                          <img [src]="article3.urlToImage!=null ? article3.urlToImage : 'assets/img/defaultImg.jpg'"
                            alt="">
                        </div>
                        <div class="desc">
                          <h3>
                            <a href="{{article3.url}}">{{article3.title}}</a>
                          </h3>
                          <p>{{article3.description}}</p>
                          <div class="date text-secondary">{{article3.publishedAt | date: 'MMM d, y'}}</div>
                        </div>
                      </div>
                    </div>
                </div>
              </section>
    
    
          
            </div>
          </main>
        </div>
      </ng-container>

      <!-- part that looks dynamic by categories -->
      <ng-template #otherNews>
        <section class="news-h categories w-100">
          <div class="carts-grid mt-3 ">
            <div class="subtitle">
              <h2>
                  <div class="d-flex justify-content-between">
                    <span class="fs-2 ps-4  mb-4">{{this.route.url | slice:1:this.route.url.length | titlecase}}</span>
                  </div>
              </h2>
            </div>
        
            <dl class="pt-2" role="list">
              <dd *ngFor="let category of detailArticles">
                <div class="list-detail_page">
                  <div class="detail-img">
                    <img [src]="category.urlToImage!= null || undefined ? category.urlToImage : 'assets/img/defaultImg.jpg'">
                  </div>
                  <div class="detail-title">
                    <h5>
                      <a href="{{category.url}}">{{category.title}}</a>
                    </h5>
                    <span class="mb-4 text-secondary">{{category.publishedAt | date: 'MMM d, y'}}</span>
                  </div>
                </div>
              </dd> 
            </dl>
          </div>
        </section>
      </ng-template>
      
   
  
  </div>


