<div>
    <!-- the part that appears when the page is first opened -->
    <ng-container *ngIf="this.route.url === '/' else otherNews;">
    <div class="main-wrapper">
        <main class="d-block pb-2">
          <div class="news-wrapper">
            <!-- 1.çeşit -->
            <section class="news-h version-1 w-100 pb-4" >
              <div class=" carts-grid mt-2 ">
                <ul role="list">
                  <li>
                    <div class="cart">
                      <div class="cart-image">
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/4b45/live/33fe4aa0-2316-11ee-941e-23d1e9ab75fa.jpg" alt="">
                      </div>
                      <div class="cart-detail">
                        <h3>
                          <a href="#">Ukrayna, Wagner paralı askerlerinin Belarus'a gittiğini doğruladı</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                          Facere, recusandae. Voluptatem unde, 
                          enim rem explicabo a odit quia veniam excepturi.
                        </p>
                        <div>
                          <h4>ilgili haberler</h4>
                          <ol>
                            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, hic.</li>
                            <li>ilgili haber başlıgı yazısı</li>
                            <li>ilgili haber başlıgı yazısı</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </li>
    
                  <li>
                    <div>
                      <div>
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/4b45/live/33fe4aa0-2316-11ee-941e-23d1e9ab75fa.jpg" alt="">
                      </div>
                      <div>
                        <h5>
                          <a href="#">Ukrayna, Wagner paralı askerlerinin Belarus'a gittiğini doğruladı</a>
                        </h5>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div>
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/4b45/live/33fe4aa0-2316-11ee-941e-23d1e9ab75fa.jpg" alt="">
                      </div>
                      <div>
                        <h5>
                          <a href="#">Ukrayna, Wagner paralı askerlerinin Belarus'a gittiğini doğruladı</a>
                        </h5>
                      </div>
                    </div>
                  </li>
    
                  <li>
                    <div>
                       <div>
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/4b45/live/33fe4aa0-2316-11ee-941e-23d1e9ab75fa.jpg" alt="">
                      </div>
                      <div>
                        <h5>
                          <a href="#">Ukrayna, Wagner paralı askerlerinin Belarus'a gittiğini doğruladı</a>
                        </h5>
                      </div>
                    </div>
                  </li>
    
                  <li>
                    <div>
                      <div>
                        <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/4b45/live/33fe4aa0-2316-11ee-941e-23d1e9ab75fa.jpg" alt="">
                      </div>
                      <div>
                        <h5>
                          <a href="#">Ukrayna, Wagner paralı askerlerinin Belarus'a gittiğini doğruladı</a>
                        </h5>
                      </div>
                    </div>
                  </li>
    
                  
                </ul>
              </div>
              </section>
    
               <!-- 2.çeşit -->
              <section class="news-h version-2 w-100">
                <div class=" carts-grid mt-2 ">
                  <div class="subtitle">
                    <h2>
                      <a href="#">
                        <div class="d-flex justify-content-between">
                          <span class="fs-2 ps-4">Dünya</span>
                          <span class="fs-6 pt-2">Diğer Haberler</span>
                        </div>
                      </a>
                    </h2>
                  </div>
                  <ul class="pt-2" role="list">
                    <li>
                      <div class="list">
                        <div>
                          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                            alt="">
                        </div>
                        <div>
                          <h5>
                            <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                              eleştiriler için ne diyor?</a>
                          </h5>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="list">
                        <div>
                          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                            alt="">
                        </div>
                        <div>
                          <h5>
                            <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                              eleştiriler için ne diyor?</a>
                          </h5>
                        </div>
                      </div>
                    </li>
              
                    <li>
                      <div class="list">
                        <div>
                          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                            alt="">
                        </div>
                        <div>
                          <h5>
                            <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                              eleştiriler için ne diyor?</a>
                          </h5>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="list">
                        <div>
                          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                            alt="">
                        </div>
                        <div>
                          <h5>
                            <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                              eleştiriler için ne diyor?</a>
                          </h5>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>
              <!-- 3.çeşit -->
             <section class="news-h version-3 w-100">
                <div class="mt-2">
                  <div class="subtitle pb-2">
                    <h2>
                      <a href="#">
                        <div class="d-flex justify-content-between mb-4">
                          <span class="fs-2 ps-4">Dünya</span>
                          <span class="fs-6 pt-2">Diğer Haberler</span>
                        </div>
                      </a>
                    </h2>
                  </div>
    
                    <div>
                      <div class="one-cart">
                        <div class="image">
                          <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                            alt="">
                        </div>
                        <div class="desc">
                          <h3>
                            <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                              eleştiriler için ne diyor?</a>
                          </h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus distinctio excepturi debitis consequatur saepe illo accusantium veritatis, sed facere ex magni eaque quidem assumenda voluptatibus, sint ratione iste enim. Velit, vel fugit! Nemo quos quis sit! Similique odit voluptatum quas.</p>
                          <span class="date">date now</span>
                        </div>
                      </div>
                    </div>
                </div>
              </section>
    
    
          
            </div>
          </main>
        </div>
      </ng-container>

      <!-- part that looks dynamic by categories -->
      <ng-template #otherNews>
        <section class="news-h categories w-100">
          <div class=" carts-grid mt-2 ">
            <div class="subtitle">
              <h2>
                  <div class="d-flex justify-content-between">
                    <span class="fs-1 ps-4 pb-3">Dünya</span>
                  </div>
              </h2>
            </div>
            <ul class="pt-2" role="list">
              <li>
                <div class="list">
                  <div>
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
                  </div>
                  <div>
                    <h5>
                      <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                        eleştiriler için ne diyor?</a>
                    </h5>
                    <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="list">
                  <div>
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                      alt="">
                  </div>
                  <div>
                    <h5>
                      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                    </h5>
                    <span class=" mb-4 text-secondary">8 ekim</span>
                  </div>
                </div>
              </li>
        
              <li>
                <div class="list">
                  <div>
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                      alt="">
                  </div>
                  <div>
                    <h5>
                      <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                        eleştiriler için ne diyor?</a>
                    </h5>
                    <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="list">
                  <div>
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                      alt="">
                  </div>
                  <div>
                    <h5>
                      <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                        eleştiriler için ne diyor?</a>
                    </h5>
                    <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                  </div>
                </div>
              </li>
      
              <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">8 ekim</span>
                    </div>
                  </div>
                </li>
          
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
      
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">8 ekim</span>
                    </div>
                  </div>
                </li>
          
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
      
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">8 ekim</span>
                    </div>
                  </div>
                </li>
          
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class=" mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list">
                    <div>
                      <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg"
                        alt="">
                    </div>
                    <div>
                      <h5>
                        <a href="#">İngiltere'de pratisyen doktorların en uzun grevi başladı: Neden iş bıraktılar, hükümet
                          eleştiriler için ne diyor?</a>
                      </h5>
                      <span class="mb-4 text-secondary">yayınlanan tarih</span>
                    </div>
                  </div>
                </li>
            </ul>
          </div>
        </section>
      </ng-template>
      
    <!-- <footer class="position-relative right-0 bottom-0" style="height: 100px;">
      <div class="min-vw-75 bg-dark h-100 text-white">selam</div>
    </footer> -->
  
  </div>


