@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: inherit;
    font-family: 'News Cycle', sans-serif;
}
section{
    max-width: 1008px;
    margin: 1.5rem auto;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: #5073f0;
}
li{
    list-style: none;
}
h5{
    padding-top: .7rem;
}
.date{
    font-size: .9rem;
}
/* VERSİON-1 */
.news-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.version-1 .version-2, ul{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-end: span 8;
    gap: 1rem;
}

.version-1 li:first-child{
  grid-area: 1 / 1 / 2 / 9;
}
.version-1 img:first-child{
    grid-area: 1 / 1 / 2/ 7;
    max-height: 130px;
}
.version-1 .cart-detail{
    grid-area: 1 / 7 / 2 / 13;
}

.version-1 .cart{
display: grid;
column-gap: .18rem; 
}

.version-1 .version-2, li{
    grid-template-columns: repeat(2, 1fr);
    grid-column-end: span 2;
    padding-right: .1rem;
}

img{
    width: -webkit-fill-available;
    max-height: 280px;
}
img:hover{
    opacity: .7;
}
.list-img  img{
    max-height: 120px;
}
ol{
    font-size: .887rem;
}
p{
    margin-top: 1rem;
}
/* version 3 */
.one-cart {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 1rem;
}

div.image{
    grid-column: 1/ span 6;
}
div.desc{
    grid-column: 7 / span 6;
}


/* RESPONSİVE */
@media screen and (max-width: 60rem){
    .news-wrapper{
     padding-top: 0;
    }
   .version-1 .version-2, ul{
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1rem;
        grid-column-end: span 6;
     }
     .version-1 li:first-child  div.cart-image{
        width: 350px;
     }
     .version-1 .version-2, li{
     display: grid;
     grid-template-columns: repeat(6,1fr);
     grid-column-end: span 6;
     margin: .4rem 0;
     padding-bottom: 1.8rem;
     border-bottom: 1px solid rgb(237, 235, 235);
    }
    .version-1 .o-cart, .list{
     display: contents;
     grid-template-columns: repeat(6, 1fr);
     column-gap: 20px;
    }
    .version-1 .o-cart-image, .list-img{
        width: initial;
        grid-column: 1 / span 2;
        padding-right: 10px;
        max-height: 130px;
    }
    .version-1 .o-cart-detail,  .list-title{
     display: block;
     width: initial;
     grid-column: 3 / span 4;
    }
    .one-cart {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        column-gap: 1rem;
        padding-inline: 1.2rem;
    }
    div.image{
        grid-column: 1/ span 3;
    }
    div.desc{
        grid-column: 4 / span 3;
    }
    div.desc > p{
        display: none;
    }
 }

 @media screen and (max-width: 37.5rem) {
    .version-1 div.cart-image{
        grid-column: 1 /span 6;
        max-width: -webkit-fill-available;
    } 
   .version-1 .cart-detail{
        width: initial;
        grid-column: 1 /span 6;
        grid-row: 2 / span 4;
        margin-right: 1rem;
    } 
    img{
        margin-top: 1rem;
    }
    .one-cart{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        column-gap: .5rem;
    }

    div.image{
        width: initial;
        grid-column: 1 / span 6;
    }
    div.desc{
        grid-column: 1 / span 6;
        width: initial;
        padding: .2rem;
    }
    h5{
        margin-top: .5rem;
        font-size: 1rem;
    }
    h3{
        padding-top: 0.6rem;
    }
  
 }

 /* CATEGORİES PAGE */
h5, h3{
   display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
   text-overflow: ellipsis;
   overflow: hidden;
   font-size: 1rem;
}
.categories dd{
    display: inline-block;
   width: calc(25% - .5rem);
   padding-left: 1rem;
}
.categories dl{
 list-style-type: none;
 margin: 0;
 padding: 0;
 position: relative;
} 

.categories img{
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    height: 120px;
}
img:hover{
    opacity: .7;
}
.categories .list-detail_page{
    margin-bottom: 4.8rem;
    position: relative;
}
/* REPONSİVE */
@media (min-width: 34rem) and (max-width: 63rem){
    .categories dd {
    width: calc(50% - .8rem);
    }
    .detail-title{
        position: relative;
    }
     h5, h3{
        -webkit-line-clamp: 2;
        width: 360px;
    }
    .detail-img{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 230px;
        
    }
    .detail-img > img{
        min-height: 100%;
    }
}
@media (max-width: 34rem){
    .categories .list-detail_page{
        margin-bottom: .8rem;
        display: flex;
    }
    .categories img{
        max-height: 90px;
    }
    .categories dd{
        border-top: 1px solid rgb(229, 229, 229);
        padding-top: 1rem;
        margin-block-end:1rem;
        width: 98%;
        display: inline-block;
       position: initial;
    }
    .categories .detail-img{
        width: 33%;
        padding-right: .5rem;
        display: inline-block;
        vertical-align: top;
        max-width: 180px;
    }
    .categories div.detail-title{
       width: 67%;
       display: inline-block;
       position: relative;
    }

}