<div>
    <!-- the part that appears when the page is first opened -->
    <ng-container *ngIf="this.route.url === '/' else otherNews;">
    <div class="main-wrapper">
        <main class="d-block pb-2">
          <div class="news-wrapper">
            <!-- type 1 -->
            <section class="news-h version-1 w-100 pb-4" >
              <div class=" carts-grid mt-2 ">
                <ul role="list">
                  <li *ngFor="let article1 of homeArticles| slice:0:1;">
                    <div class="cart">
                      <div class="cart-image">
                        <img src="{{article1.urlToImage}}" style="max-width: 600px; max-height: 400px;" alt="600x400 image">
                      </div>
                      <div class="cart-detail">
                        <h3>
                          <a href="{{article1.url}}" >{{article1.title}}</a>
                        </h3>
                        <p>{{article1.description}}</p>
                        <div class="date text-secondary">{{article1.publishedAt | date: 'MMM d, y'}}</div>
                      </div>
                    </div>
                  </li>
    
                  <li  *ngFor="let article1 of homeArticles | slice:1:5;">
                    <div>
                      <div>
                        <img src="{{article1.urlToImage}}" alt="">
                      </div>
                      <div>
                        <h5>
                          <a href="{{article1.url}}">{{article1.title}}</a>
                          <div class="date mt-2 text-secondary">{{article1.publishedAt | date: 'MMM d, y'}}</div>
                        </h5>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              </section>
    
               <!-- type 2 -->
               
              <section class="news-h version-2 w-100 mt-5">
                <div class=" carts-grid mt-2 ">
                  <div class="subtitle">
                    <h2>
                      <a href="#">
                        <div class="d-flex justify-content-between">
                          <span class="fs-2 ps-4">News</span>
                          <span class="fs-6 pt-2">Other News</span>
                        </div>
                      </a>
                    </h2>
                  </div>
                  <ul class="pt-2" role="list">
                    <li *ngFor="let article2 of homeArticles | slice:5:13;">
                      <div class="list">
                        <div>
                          <img src="{{article2.urlToImage}}"
                            alt="">
                        </div>
                        <div>
                          <h5>
                            <a href="{{article2.url}}">{{article2.title}}</a>
                            <div class="date mt-2 text-secondary">{{article2.publishedAt | date: 'MMM d, y'}}</div>
                          </h5>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </section>

              <!-- type 3 -->
             <section class="news-h version-3 w-100">
                <div class="mt-2" *ngFor="let article3 of homeArticles | slice:14:20;">
                  <div class="subtitle pb-2">
                    <h2>
                      <a href="{{article3.url}}">
                        <div class="d-flex justify-content-between mb-3 mt-5 pt-5">
                          <span class="fs-2 ps-4">{{article3.source.name}}</span>
                          <span class="fs-6 pt-2">other news</span>
                        </div>
                      </a>
                    </h2>
                  </div>
    
                    <div>
                      <div class="one-cart">
                        <div class="image">
                          <img src="{{article3.urlToImage}}"
                            alt="">
                        </div>
                        <div class="desc">
                          <h3>
                            <a href="{{article3.url}}">{{article3.title}}</a>
                          </h3>
                          <p>{{article3.description}}</p>
                          <div class="date text-secondary">{{article3.publishedAt | date: 'MMM d, y'}}</div>
                        </div>
                      </div>
                    </div>
                </div>
              </section>
    
    
          
            </div>
          </main>
        </div>
      </ng-container>

      <!-- part that looks dynamic by categories -->
      <ng-template #otherNews>
        <section class="news-h categories w-100">
          <div class=" carts-grid mt-3 ">
            <div class="subtitle">
              <h2>
                  <div class="d-flex justify-content-between">
                    <span class="fs-1 ps-4 pb-1">Dünya</span>
                  </div>
              </h2>
            </div>
        
            <ul *ngFor="let article of categoryArticles"  class="" role="list">
              <li>
                <div class="list">
                  <div>
                    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/7e55/live/ffa23540-2168-11ee-b2f1-ef292ae63bd4.jpg">
                  </div>
                  <div>
                    <h5>
                      <a href=""></a>
                    </h5>
                    <span class="mb-4 text-secondary"></span>
                  </div>
                </div>
              </li> 
            </ul>
        
          </div>
        </section>
      </ng-template>
      
    <!-- <footer class="position-relative right-0 bottom-0" style="height: 100px;">
      <div class="min-vw-75 bg-dark h-100 text-white">selam</div>
    </footer> -->
  
  </div>


