<div *ngIf="loaderService.loader | async">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<header  class="w-100 position-relative top-0">
    <div id="logo">
     <span id="title-logo"><fa-icon [icon]="fa"></fa-icon> Breaking <span style="color: rgb(251, 251, 39);">News</span></span>
    </div>
     


    <ul (click)="selectedCategory()" [attr.disabled]="loading"  class="nav justify-content-center flex-nowrap mt-2 fs-5 fw-normal">
      <li class="nav-item" title="News">
        <a class="nav-link" aria-current="page" routerLink="news">News</a>
      </li>
      <li class="nav-item" title="Business">
        <a class="nav-link" routerLink="business">Business</a>
      </li>
      <li class="nav-item" title="Entertainment">
        <a class="nav-link" routerLink="entertainment">Entertainment</a>
      </li>
      <li class="nav-item" title="Health">
        <a class="nav-link" routerLink="health">Health</a>
      </li>
      <li class="nav-item" title="Science">
        <a class="nav-link" routerLink="science">Science</a>
      </li>
      <li class="nav-item" title="Sports">
        <a class="nav-link" routerLink="sports">Sports</a>
      </li>
      <li class="nav-item" title="Technology">
        <a class="nav-link" routerLink="technology">Technology</a>
      </li>
    </ul>
    <hr>
  </header>

<router-outlet></router-outlet>

<footer class="position-relative right-0 bottom-0" style="height: 220px;">
  <div class="bg-dark h-100 text-white" style="font-size: 1.4rem; display: flex; justify-content: center; align-items: center; letter-spacing: .8rem; font-family: 'Times New Roman', Times, serif;">@made by Yaşar</div>
</footer>
